.m2/
**/target/
.idea/
.vscode/
*.iml
.docs
# heap dump / memory snapshot
*.hprof
**/*.hprof

# (可选) Android/Java 常见垃圾
*.log
*.tmp

# crash/memory dumps
*.hprof
java_pid*.hprof
*.log

*.hprof
java_pid*.hprof

